
h1{
    font-family: cursive;
    text-align: center;
    color:white;
}
.books{
    font-size: 20px;
    padding-left: 50px;
    color:black;
}
#section1{
    height:400px;
    
}
.image{
    padding:10px;
    border:1px solid black;
    
}
.bio{
    text-align: center;
    color:black;
}
#section2{
    height:400px;
   
}
.love{
    text-align: center;
    color:black;
}
#section3{
    height:400px;
    
}
.classic{
    text-align: center;
    color:black;
}
#section4{
    height:400px;
    
}
.romance{
    text-align: center;
    color:black;
}
#section5{
    height:400px;
    
}
.kids{
    text-align: center;
    color:black;
}
#section6{
    height:400px;
    
}
.fantasy{
    text-align: center;
    color:black;
}
#section7{
    height:400px;
    
}
.science{
    text-align: center;
    color:black;
}
#download{
    border:1px solid white;
    background-color: green;
    width:10%;
    text-align: center;
    height:30px;
    margin-left: 100px;
    text-decoration-color: beige;
}
.des{
    float: right;
    height:500px;
    width:500px;
    margin-top: 100px;
    margin-right:400px;
    font-style: italic;
    font-size: 18px;;
}
#download{
    text-decoration: none;
    background-color:pink;
    color:brown;
}
#download:hover{
    color:brown;
    font-size: 30px;
}